<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            background: rgba(204, 50, 183, 0.76);
        }
        .user_card {
            border: 3px solid rebeccapurple;
            border-radius: 10px;
            width: 300px;
            background: #f5d3f4;
            margin-bottom: 10px;
            margin-right: 10px;
            font-size: 18px;
            padding: 5px;
            box-sizing: border-box;
        }
        .users {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="users">
    {{#each users}}
        <div class="user_card">
            <div>Id: {{this.id}}</div>
            <div>FirstName: {{this.firstName}}</div>
            <div>LastName: {{this.lastName}}</div>
            <div>City: {{this.city}}</div>
            <div>Age: {{this.age}}</div>
            <div>Email: {{this.email}}</div>
            <div>Password: {{this.password}}</div>
        </div>
    {{/each}}
</body>
</html>